@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animaButton{
        @apply before:content-[''] before:h-full before:absolute before:-z-10 before:bg-secundaria before:w-full before:top-0 before:-left-full hover:before:left-0 before:duration-300;
    }
}

#__next {
    height: 100vh;
}

.card::before {
    content: '';
    z-index: 1;
    position: absolute;
    transform: rotateZ(45deg);
    height: 31px;
    width: 15px;
    top: -11px;
    left: -3px;
    border-radius: 250px 0 0 250px;
    transition-duration: 300ms;
}

@layer components {
    .card:hover::before {
        @apply border-r-[3px] border-secundaria
    }
}

.card::after {
    content: '';
    z-index: 1;
    position: absolute;
    transform: rotateZ(45deg);
    height: 31px;
    width: 15px;
    bottom: -11px;
    right: -3px;
    border-radius: 0 250px 250px 0;
    transition-duration: 300ms;
}

@layer components {
    .card:hover::after {
        @apply border-l-[3px] border-secundaria;
    }
}

.video {
    height: 100%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 300px;
    width: 100%;
}

.requesitos h5{
    color: gray;
}

.requesitos > div > div {
    margin: 1rem 0;
}

.anima_arrow {
    transform: rotate(-180deg);
}

@layer components {
    .button_verificar_idade_true {
        @apply bg-secundaria hover:bg-secundariaHove  text-black;
    }
}

.button_verificar_idade {
    background-color: #525252;
    cursor: not-allowed;
}

.div_campo_input {
    display: flex;
    flex-direction: column;
    height: 48px;
    margin: 2px 0;
}

.div_campo_input p {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 1rem;
    line-height: 15px;
    color: red;
}

.disabled {
    color: #aaaaaa;
    cursor: not-allowed;
}

@media (max-width: 450px) {
    .alert_erro {
        padding-bottom: 12rem;
    }
}

@media (max-width: 400px) and (max-height: 600px ) {
    .alert img{
        width: 200px;
    }
}

.notification_anima {
    animation: notification_animation 2.5s;
}

@keyframes notification_animation {
    0%{
        top: 110%;
    }
    20%{
        top: 60%;
    }
    80%{
        top: 60%;
        scale: 1;
        opacity: 1;
    }
    100%{
        top: 60%;
        scale: .8;
        opacity: 0;
    }
}

.completed > .circle {
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
    transform: rotateY(180deg) rotateZ(-133deg);
}

@keyframes circle_completed {
    0% {
        stroke-dashoffset: 126;
    } 
    60% {
        stroke-dashoffset: 23;
    }
    100% {
        stroke-dashoffset: 23;
    }
}

.completed > .check {
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
}

@keyframes checked {
    0%{
        stroke-dashoffset: 22;
    }
    60%{
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.incomplete > .circle {
    stroke-dasharray: 126;
    stroke-dashoffset: 126;
}

@keyframes circle_incomplete {
    0% {
        stroke-dashoffset: 126;
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        stroke-dashoffset: 0;
    }
}

.incomplete > .check {
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    rotate: z 90deg;
}

@keyframes checked_false {
    0%{
        stroke-dashoffset: 23;
    }
    60%{
        stroke-dashoffset: 0;
        transform: scale(1);
    }
    100% {
        stroke-dashoffset: 0;
        transform: scale(1.5);
    }
}

/* style para scrollbar */

::-webkit-scrollbar {
    height: 14px;
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: #2c2b2b8e ;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 0 0 0 10px #00b7f2;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

/* 
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide img {
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover{
    background-color: white;
} */
/* 
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio4:checked ~ .first{
    margin-left: -50%;
} */

/* .navigation-auto div{
    border: 2px solid rebeccapurple;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
} */

/* .navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    gap: 5px;
    justify-content: center;
} */
/* 
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:  white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:  white;
} */